<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SAGAR COACHING</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
    <h3 align=center>BACK TO SET UP EXAM PAGE</h3>
    <h3 align=center>EXAM SETUP DONE</h3>
    <hr />
    <div align=center>
    <a href = "teacher" >Redirect to Home</a>
    </div>
    <p align=right>POWERED by SAGAR COACHING</p>
</body>
</html>